 
.simple-pagination ul {
	margin: 10px 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	/* box-shadow: 0px 0px 10px 0px #EEE; */
}

.simple-pagination .current {
	color: #FFF;
	background-color: #a02f0d;
	border-color: #f53c00;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #a02f0d;
}